body{font-family:'Proxima Nova',Helvetica,Arial,sans-serif;font-weight:400;background-color:#dadada;}
.containersite{
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}
.containerhero{
   max-width: 1350px;
}
.spacing{
height: 104px;
}
.header{
  background-color: #252525;
  padding-top: 41px;
  padding-bottom: 40px;
  margin-top: -104px;
  z-index: 15;
  position: absolute;
  width: 100%;
  max-width: 1350px;
}
.herovid{
  z-index: 1;
  position: relative;
  width: 100%;
}
.herocopy{
  margin-top: 660px;
  z-index: 10;
  position: absolute;
  text-align: center;
  width: 100%;
  max-width: 1350px;
  color: #902226;
  font-size: 40px;
  background: rgba(0,0,0,0);
}
video#bgvid {
width: 100%;
padding-left: 0;
  margin:0 auto;
background: url("../img/hero.jpg") no-repeat center;
background-size: cover;
  position: relative;
}
video {

  z-index: -1;
}
.videotext{
  position: relative;
  color: black;
  z-index: 1;
  top: 0;
}
.hero{
  background:url("../img/hero.jpg") no-repeat center;
  background-size: cover;
  height: 563px;
  margin-bottom: 50px;
}
.intro-text h1{
  color:#ffffff;
  text-align:center;
  margin-top: 15%;
}
.hero .btn {
  text-transform: uppercase;
  background-color: #902226;
  display: inline-block;
  position: relative;
  padding: .8em 1.3em;
  color: #ffffff;
}
.type-collection {
  margin-top: -6px;
  padding-bottom: 50px;
}
.typeflow{
  padding-top: 7px;
}
.copyflow{
  margin-top: -6px;
}
.typelayer{
  padding-bottom: 30px;
}
.layerasset{
  padding-bottom: 40px;
}
.vffseries{
  padding-top: 100px;
  padding-bottom: 60px;
}
.fitment{
  background: url("../img/fitments.jpg") no-repeat center;
  background-size: cover;
  height: 721px;
}
.fitment2{
  background:url("../img/fitmentssmall.jpg") no-repeat center;
  background-size: cover;
  height: 721px;
}
.designmethods{
  padding-top: 100px;
  padding-bottom: 100px;
}
.typelightweight{
  padding-top: 60px;
}
.copylightweight{
  padding-top: 30px;
}
.style{
  background:url("../img/style.jpg") no-repeat center;
  background-size: cover;
  height: 602px;
}
.style2{
  background:url("../img/stylemedium.jpg") no-repeat center;
  background-size: cover;
  height: 1030px;
  margin-bottom: 60px;
}
.layerbylayer{
  padding-top: 80px;
  padding-bottom: 50px;
}
.concavity{
  background:url("../img/concavity.jpg") no-repeat center;
  background-size: cover;
  height: 644px;
}
.concavity2{
  background:url("../img/concavitymedium.jpg") no-repeat center;
  background-size: cover;
  height: 933px;
}
.application{
  background:url("../img/application.jpg") no-repeat center;
  background-size: cover;
  height: 592px;
}
.appspace{
  margin-top: 90px;
}
.copyapp{
  margin-top: 20px;
}
.makes {
  list-style: none;
  margin-left: 0;
  text-transform: uppercase;
}
.specbtn{
  text-transform: uppercase;
  border: 3px solid black;
  display: inline-block;
  position: relative;
  padding: .7em 1.2em;
  color: #000000;
}
.specicon{
  padding-left: 7px;
}
.engineerspace{
  padding-top: 100px;
  padding-bottom: 100px;
}
.copyengineer1{
  padding-top: 30px;
}
.copyengineer2{
  margin-top: -6px;
}
.blueprint{
  padding-top: 80px;
}
.promo{
  background:url("../img/promo.jpg") no-repeat center;
  background-size: cover;
  height: 400px;
  margin-bottom: 70px;
}
.typegallery{
  margin-bottom: 20px;
}
.play {
  margin-top: 20%;
}
.thumb1{
  margin-top: 10px;
  margin-left: 7px;
}
.thumb2{
  margin-top: 10px;
  margin-left: -7px;
}
.thumb3{
  margin-top: 10px;
  margin-left: 7px;
}
.thumb4{
  margin-top: 10px;
  margin-left: -7px;
}
.dealer{
  /*background-color: #616468;
  margin-top: 80px;
  background: #000000;*/
background: -moz-linear-gradient(left,  #252525 0%, #252525 50%, #616468 50%, #616468 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#252525), color-stop(50%,#252525), color-stop(50%,#616468), color-stop(100%,#616468));
background: -webkit-linear-gradient(left,  #252525 0%,#252525 50%,#616468 50%,#616468 100%);
background: -o-linear-gradient(left,  #252525 0%,#252525 50%,#616468 50%,#616468 100%);
background: -ms-linear-gradient(left,  #252525 0%,#252525 50%,#616468 50%,#616468 100%);
background: linear-gradient(to right,  #252525 0%,#252525 50%,#616468 50%,#616468 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252525', endColorstr='#616468',GradientType=1 );
  margin-top: 100px;
}
.doublecta{
  display: block;
}
.ctaleft{
  width: 50%;
  background: red;
  height: 100px;
  display: inline-block;
}
.ctaright{
  width: 49%;
  background: green;
  height: 100px;
  display: inline-block;
}
.left{
  background: pink;
}
.right{
  background: blue;
}
.dealercopy{
  text-align: center;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 120px;
}
.dealercopy h1{
  color: #ffffff;
  font-weight: 800;
}
.dealer .btn {
  text-transform: uppercase;
  background-color: #902226;
  display: inline-block;
  position: relative;
  padding: .8em 1.3em;
  color: #ffffff;
}
.footer{
  background-color: #27303e;
  padding-top: 60px;
}
.info p{
  font-size: 124x;
  color: #ffffff;
  text-align: left;
}
.copyright p{
  font-size: 12px;
  color: #ffffff;
}

.icon{
  padding-right: 7px;
}
.dealersmall{
  text-align: center;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 80px;
  background: #252525;
}
.dealercopysmall h1{
  color: #ffffff;
  font-weight: 800;
}
.dealersmall .btn {
  text-transform: uppercase;
  background-color: #902226;
  display: inline-block;
  position: relative;
  padding: .8em 1.3em;
  color: #ffffff;
}
.exploresmall{
  text-align: center;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 80px;
  background: #616468;
}
.explorecopysmall h1{
  color: #ffffff;
  font-weight: 800;
}
.exploresmall .btn {
  text-transform: uppercase;
  background-color: #902226;
  display: inline-block;
  position: relative;
  padding: .8em 1.3em;
  color: #ffffff;
}
@media only screen and (max-width: 40em) {

  .play{
    margin-top: 52%;
  }
  .typeflow{
    margin-bottom: 35px;
  }
  .thumb1{
  margin-top: 10px;
  margin-left: -4px;
}
.thumb2{
  margin-top: 10px;
}
.thumb3{
  margin-top: 10px;
 margin-left: -4px;
}
.thumb4{
  margin-top: 10px;
}
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .play{
  margin-top: 30%;
}  
.thumb1{
  margin-top: 10px;
  margin-left: -4px;
}
.thumb2{
  margin-top: 10px;
}
.thumb3{
  margin-top: 10px;
 margin-left: -4px;
}
.thumb4{
  margin-top: 10px;
}
}




@media only screen and (max-width: 40em) {
    .play{
  margin-top: 48%;
}  
    .testdoublecta {
        
        background:none !important;
        
    }
    
    .row {
        
        padding-top:1em;
        padding-bottom:1em;
        
    }
    
    .blue {
        background: #b3ddc5;  
    }
    
    .black {
           background: #333333;
    }
    
}